@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap'); 
}
:root {
    --color1:#0065FC;
    --color2:#DEEBFF;
    --color3:#F2F2F2;
}
* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color:black;
}
img {
    object-fit: cover;
}
header {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 50px;
}
header img {
    width: 100px;
    height: 45px;
}
.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}
.register {
    margin-left: 50px;
}
header a {
    color:var(--color1);
}
header a:hover {
    border-top: 2px solid var(--color1);
    padding-top: 20px;
}
header li {
    margin-left: 50px;
}
main {
  padding: 0px 50px;
}
#search_bar {
    display: flex;
    border: 2px solid var(--color3);
    width: fit-content;
    border-radius: 18px;
    margin: 25px 0px;
    height: 100%; 
}
.fa-map-marker-alt {
    background: var(--color3);
    border-radius: 15px 0px 0px 15px;  
    padding: 15px;
}
.search_logo i {
    display: none;
}
#search_bar input {
    border-style: none;
    padding-left: 20px;
}
#search_bar h3 {
    display: flex;
    background: var(--color1);
    color: white;
    height: auto;
    align-items: center;
    padding:0px 20px;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
}
.fa-search {
    font: 900;
}
#search_bar h3:hover {
    border: 2px solid var(--color1);
    background: white;
    color: var(--color1);
    transition: 0.8s;
}
#filters {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-right: 30px;
}
#icon_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon_list .icon {
    border: 2px solid var(--color3);
    border-radius: 90px;
    height: 50px;
    align-items: center;
    margin-left: 30px;
}
#icon_list i {  
    border-radius: 90px;
    background: var(--color2);
    color: var(--color1);
    height: 50px;
    width: 50px;
    transform: translate(-2px, -2px);
    padding: 15px;
}
.mention {
    margin: 0px 15px;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    height: 50px;
}
#icon_list .icon:hover {
    background-color: var(--color1);
    color: white;
    transition: 0.8s;
}
#icon_list .mention:hover {
    color: white;
}
.fa, .fas {
    font-weight: 900;
    display: inline-block;
}
.fa-star {
    color: var(--color1);
}
.hosting_title {
    margin: 40px 0px;
}
#marseille_hosting {
    display: flex;
}
article {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.location{
    padding: 0px 30px;
    background: var(--color3);
    border-radius: 15px;
    height: 625px;
    width: 100%;
    perspective: 400px;
}
.location h2 {
position: relative;
margin: 50px 0px 30px 0px;
}
.location .displayMore {
    margin-top: 25px;
}
.location_list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 430px;
    perspective: 500px;
}
.location_list li {
    width: 32%; 
}
.location_list li:hover {
    transform: translateZ(15px);
    transition: 0.8s;
}
.location ul .photo {
    background: white;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 30px;
    height: 200px;
    box-shadow: 0px 0px 15px #0000002e;
}
.location img {
    width:100%;
    height: 120px;
    border-radius:15px 15px 0px 0px;
}
ul .star_rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    width: 100px;
    height: 15px;
    align-items: center;
    margin: 5px 0px 0px 5px;
}
.grey i {
    color: rgb(224, 222, 222);
}
aside {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 35%;
    background-color: var(--color3);
    border-radius: 15px;
    height: 625px;
    margin-left: 45px;
    padding: 30px 40px;
    perspective: 400px;
}
.fa-info-circle {
    color: white;
    background-color: var(--color1);
    border-radius: 45px;
}
aside ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    perspective: 500px;
}
.chart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-chart-line {
    padding: 0px;
}
.popular {
    display: flex;
    margin-top: 35px;
    padding: 5px;
    background: white;
    border-radius: 15px;
    width: 95%;
    height: 150px;
    box-shadow: 0px 0px 15px #0000002e;
}
.popular:hover {
    transform:translateZ(15px);
    transition: 0.8s;
}
.popular img {
    border-radius: 15px 0px 0px 15px;
    width: 95%;
    max-width: 300px;
    height: 100%;
}
.popular h3{
    padding: 0px 0px 0px 15px;
    max-width: 225px;
    max-height: 60%;
}
.popular p {
    padding-left: 15px;
}
.popular .star_rating {
    padding-left: 10px;
}
aside img {
    height:130px;
    width: 130px;
}
#marseille_activities {
    width: 100%;
}
#marseille_activities h2 {
    margin: 50px 0px;
}
.activities_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 100%;
    perspective: 400px;
}
.activities_container1,
.activities_container2 {
    display: flex;
    flex-direction: row;
    height: 500px;
    box-sizing: border-box;
}
.activity_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    perspective: 400px;
}
.activity {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px #0000002e;
}
.activity2,
.activity3,
.activity4,
.activity5,
.activity6 {
    margin-left: 40px;
}
.titresection {
    color: black;
    font-size: 1.3em;
    padding-left: 8px;
 }
 .activity_name h3 {
    margin: 15px 0px;
 }
.activity img {
    width: 100%;
    border-radius:15px 15px 0px 0px;
}
.activity1_4_img {
    height: 420px;
}
.activity2_img {
    height: 200px;
}
.activity3_img {
    height: 110px;
}
.activity6_img,
.activity5_img {
    height: 140px;
}
.activity_name {
    padding: 0 0px 5px 20px;
}
.activity:hover {
    transform: translatez(15px);
    transition: 0.8s;
}
footer {
    margin-top: 60px;
    background: var(--color3);
    display: flex;
    justify-content: space-around;
}
footer ul {
    display: flex;
    flex-direction: column;
    padding: 45px;
}
footer li {
    padding: 15px;
}
footer li:hover {
    text-decoration: underline 2px black;
}
@media all and (max-width: 1300px) {
    body {
        padding: 5px;
    }
    header ul {
        flex-wrap: wrap;
    }
    #icon_list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .icon {
        margin-top: 15px;
    }
    .hosting_title {
        margin: 25px 0px;
    }
    #marseille_hosting{
        display: flex;
        flex-direction: column-reverse;
    }
    article {
        width: 100%;
    }
    aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        height:300px;
        padding: 10px 0px;
        margin:0px 0px 40px 0px;
        height: 100%;
    }
    aside ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        height: 350px; 
        width: 90%;  
    }
    .popular {
            margin: 10px 0px 0px 40px;
            width:350px;   
            width: 45%;
    }
    .popular h3 {
        padding-top: 0px;
    }
    ul .star_rating {
        padding: 0px;
        margin-top: 5px;
    }
    .chart {
        padding : 10px 40px ; 
    }
    .location {
        width: 100%;
    }   
}
@media screen and (max-width:880px) {
    #filters {
        flex-direction: column;
    }
    #icon_list {
        justify-content: flex-start;
    }
    .location {
    height: max-content;
    }
    .location .displayMore {
    margin-bottom: 40px;
    margin-top: 100px;
    }
    .location_list {
        height: 600px;
    }
    .location_list li {
        width: 45%;
    }
    .activities_container {
        flex-wrap: wrap;
        height: 1000px;
    }
    .activities_container1,
.activities_container2 {
        margin-bottom: 30px;
}
.activity4 {
    margin-left: 0px;
}
}
@media screen and (max-width:670px) {
    main {
        padding: 0px;
        margin: 5px;
    }
    img {
        height: 120px;
    }
    header {
        padding: 0px;
    }
    header img {
        position: absolute;
        top: 3%;
        left: 5%;
    }
    header .navbar {
        margin:100px 0px 30px 0px;
        justify-content: space-between;
        width: 100%;
    }
    .navbar ul {
        width: 60%;
        flex-wrap: nowrap;
    }
    #icon_list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
        height: 100%;
        margin-bottom: 0px;
    }
    aside {
        border-radius: 0px;
    }
    aside ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0px 15px;
    }
    .chart {
        padding: 10px 15px;
    }
    .popular {
        width: 100%;
        margin: 10px 5px;
    }
    .register {
        margin-right: 15px;
    }
    .location h2 {
    margin:0px 0px 30px 0px;
    }
    .location {
        padding: 0px;
    }
    header ul li:hover {
        padding-top: 0px;
        padding-bottom: 15px;
    }
    header ul:hover {
        padding-bottom: 0px;
    }
    article {
        width: 100%;
        height: 1300px;
    }
    .location {
        width: 100%;
        background: none;
        height: 100%;
    }
    .location ul .photo {
      width: 100%;
    }
    .location .displayMore {
        margin-top:800px;
    }
    #marseille_activities {
        margin-top: 230px;
        height: 1500px;
    }
    #marseille_activities h2 {
        margin: 0px;
    }
    .activities_container{
        height: 1400px;
        margin-bottom: 0px;
    }
    .activities_container1,
    .activities_container2 {
        flex-direction: column;
        width: 100%;
    }
    .activity {
        width: 100%;
        margin:25px 0px 0px 0px;
    }
    .activity img {
        height: 140px;
    }
   footer {
       margin-top: 50px;
       flex-wrap: wrap;
    }
   footer ul {
       padding: 45px 0px;
       width: 95%;
    }
}
@media screen and (max-width:490px) {
    header {
        width: 100%;
        display: block;
    }
    .register {
        position: absolute;
        right: 3%;
        top:5%;
        font-weight: bold;
    }
    .navbar ul {
        padding-bottom: 15px;
        box-shadow: 0px 2px var(--color3);
    }
    .navbar ul {
        width: 100%;
    }
    header .navbar li a {
        color: black;
        display: inline-block;
        width: 100%;
    }
    .navbar li a:hover {
        border-top: none;
        padding: 0px;
        color: var(--color1);
    }
    header li {
        width: 50%;
        margin: 0px;
        text-align: center;
    }
    .navbar li:hover {
        border-bottom: 2px solid var(--color1);
        padding-bottom: 20px;
    }
    .search_logo i {
        display: inline-block;
        color: white;
        background: var(--color1);
        border-radius: 15px;
        padding: 15px;
    }
    .search_logo i:hover {
        background: white;
        color: var(--color1);
        border: 2px solid var(--color1);
        transition: 0.8s;
    }
    #search_bar h3 {
        display: none;
        padding: 15px;
    }
}