@media all and (max-width: 1300px) {
    body {
        padding: 5px;
    }
    header ul {
        flex-wrap: wrap;
    }
    #icon_list {
        flex-wrap: wrap;
    }
    .icon {
        margin-top: 15px;
    }
    .hosting_title {
        margin: 25px 0px;
    }
    #marseille_hosting{
        display: flex;
        flex-direction: column-reverse;
    }
    article {
        width: 100%;
    }
    aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        height:300px;
        padding: 10px 0px;
        margin:0px 0px 40px 0px;
        height: 100%;
    }
    aside ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        height: 350px; 
        width: 90%;  
    }
    .popular {
            margin: 10px 0px 0px 40px;
            width:350px;   
            width: 45%;
    }
    .popular h3 {
        padding-top: 0px;
    }
    ul .star_rating {
        padding: 0px;
        margin-top: 5px;
    }
    .chart {
        padding : 10px 40px ; 
    }
    .location {
        width: 100%;
    }   
}
@media screen and (max-width:880px) {
    #filters {
        flex-direction: column;
    }
    #icon_list {
        justify-content: flex-start;
    }
    .location {
    height: max-content;
    }
    .location .displayMore {
    margin-bottom: 40px;
    margin-top: 100px;
    }
    .location_list {
        height: 600px;
    }
    .location_list li {
        width: 45%;
    }
    .activities_container {
        flex-wrap: wrap;
        height: 1000px;
    }
    .activities_container1,
.activities_container2 {
        margin-bottom: 30px;
}
.activity4 {
    margin-left: 0px;
}
}
@media screen and (max-width:670px) {
    main {
        padding: 0px;
        margin: 5px;
    }
    img {
        height: 120px;
    }
    header {
        padding: 0px;
    }
    header img {
        position: absolute;
        top: 3%;
        left: 5%;
    }
    header .navbar {
        margin:100px 0px 30px 0px;
        justify-content: space-between;
        width: 100%;
    }
    .navbar ul {
        width: 60%;
        flex-wrap: nowrap;
    }
    #icon_list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
        height: 100%;
        margin-bottom: 0px;
    }
    aside {
        border-radius: 0px;
    }
    aside ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0px 15px;
    }
    .chart {
        padding: 10px 15px;
    }
    .popular {
        width: 100%;
        margin: 10px 5px;
    }
    .register {
        margin-right: 15px;
    }
    .location h2 {
    margin:0px 0px 30px 0px;
    }
    .location {
        padding: 0px;
    }
    article {
        width: 100%;
        height: 1300px;
    }
    .location {
        width: 100%;
        background: none;
        height: 100%;
    }
    .location ul .photo {
      width: 100%;
    }
    .location .displayMore {
        margin-top:800px;
    }
    #marseille_activities {
        margin-top: 230px;
        height: 1500px;
    }
    #marseille_activities h2 {
        margin: 0px;
    }
    .activities_container{
        height: 1400px;
        margin-bottom: 0px;
    }
    .activities_container1,
    .activities_container2 {
        flex-direction: column;
        width: 100%;
    }
    .activity {
        width: 100%;
        margin:25px 0px 0px 0px;
    }
    .activity img {
        height: 140px;
    }
   footer {
       margin-top: 50px;
       flex-wrap: wrap;
    }
   footer ul {
       padding: 45px 0px;
       width: 95%;
    }
}
@media screen and (max-width:490px) {
    header {
        width: 100%;
        display: block;
    }
    .register {
        position: absolute;
        right: 3%;
        top:5%;
        font-weight: bold;
    }
    .navbar ul {
        width: 100%;
    }
    header .navbar li a {
        color: black;
        display: inline-block;
        width: 100%;
    }
    .navbar li a:hover {
        border-top: none;
        padding-top: 0px;
    }
    header li {
        width: 50%;
        margin: 0px;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--color3);
    }
    .navbar li:hover {
        border-bottom: 2px solid var(--color1);
    }
    .search_logo i {
        display: inline-block;
        color: white;
        background: var(--color1);
        border-radius: 15px;
        padding: 15px;
    }
    .search_logo i:hover {
        background: white;
        color: var(--color1);
        border: 2px solid var(--color1);
        transition: 0.8s;
    }
    #search_bar h3 {
        display: none;
        padding: 15px;
    }
    #icon_list a {
        margin-left: 10px;
    }
}